@import "../utils/mix";
@import "../utils/function";
@import "../helpers/variables";

// 雖然有加上active 但若權重不足 可能導致失效 加上&增加權重 不使用 ~ 可能沒有支援(是代表你寫錯了)
.aside {
  a {
    color: $pickBlack;
    &:active {
      color: $nbaBlue !important;
    }
    &:active .aside_span {
      display: inline-block !important;
    }
    &:hover {
      color: $nbaBlue;
    }
    .aside_span {
      color: $nbaBlue;
      font-weight: bold;
      display: none;
    }
    &:hover .aside_span {
      display: inline-block;
    }
  }
}
@include minipad() {
  .aside {
    h3 {
      text-align: center;
    }
  }
}
