@import "../helpers/mix";
@import "../helpers/function";
@import "../helpers/variables";

//分頁
.pagination {
  padding: 30px 0;
}
.pagination ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.pagination a {
  display: inline-block;
  padding: 10px 18px;
  color: $pickBlack;
  text-decoration: none;
  font-size: 20px;
  &:hover {
    color: $nbaBlue;
  }
  &:active {
    color: $nbaBlue;
  }
}
