@mixin hide_text {
  /* 圖片裝入容器 */
  // background-image: url("../nbaWeb/1588928235basketball-fire-logo-silhouette-freesvg.org.svg");
  background-repeat: no-repeat;
  background-size: contain;
  /* 圖片取代文字 */
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}
@mixin shadow {
  /* -x +x 軸  */
  box-shadow: -1px 1px $shadow;
  /* 0x 3y 3px擴散 */
  box-shadow: 0 3px 3px $shadow;
  // box-shadow: x-位移 y-位移 blur-模糊值(實心1~10) spread-擴散值(範圍1-5) color-顏色(第四個透明度) inset-是否在內側(染色感)
  box-shadow: 0 10px 1px rgba(0, 0, 0, 0.6);
}

// 大 按鈕正常 小 按鈕放大100%
@mixin sellbtn_Rwd() {
  @include maxpc() {
    .sellbtn_Rwd {
      width: 100%;
    }
  }
}
